<!-- add_product.html -->

{% extends 'base.html' %}
{% block title %}
<title>
    CoPo | Add Product
</title>
{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <h1>Add New Product</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Product</button>
        </form>
    {% else %}
        <p>You are not logged in as a superuser.</p>
    {% endif %}

{% endblock %}
