<!-- add_product.html -->
{% extends 'base.html' %}
{% block title %}
<title>
    CoPo | Add Product
</title>
{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<h1>Add New Product</h1>
<div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Additional field for main image -->
        <label for="id_main_image">Main Image URL:</label>
        <input type="url" id="id_main_image" name="main_image" class="form-control">

        <!-- Additional field for product images -->
        <label for="id_images">Additional Images URL:</label>
        <input type="url" id="id_images" name="images" class="form-control">

        <button type="submit" class="btn btn-secondary">Add Product</button>
    </form>
</div>
{% endif %}
{% endblock %}
