{% extends 'base.html' %}
{% block title %}
<title>
    CoPo | CostumerPower
</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> <!-- Center the row content -->
        {% for product in object_list %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExampleIndicators_{{ product.id }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for image in product.images.all %}
                            <button type="button" data-bs-target="#carouselExampleIndicators_{{ product.id }}"
                                data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for image in product.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                
                                <div class="carousel-image-container">
                                    <a href="{% url 'product-detail' pk=product.pk %}">
                                        <img src="{{ image.img_url }}" class="d-block w-100" alt="...">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_{{ product.id }}"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_{{ product.id }}"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <br>
                    <a href="{% url 'product-detail' pk=product.pk %}">
                        <h5 class="card-title">{{ product.title }}</h5>
                    </a>
                    <p class="card-text text-body-secondary" dir="rtl">
                        <br>
                        💸 <strong>מחיר: {{product.discount_price }}</strong>
                        <br>
                        🚚 <strong>כולל משלוח עד הבית!!!</strong>
                        <br>
                        <br>
                        📅 קבוצת הרכישה תסגר בתאריך: <strong>{{ product.due_date }}</strong>
                    </p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">לקבוצת רכישה <i class="fa fa-telegram"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .carousel-image-container {
        width: 100%;
        height: 200px; /* Set a fixed height for all images */
        overflow: hidden;
    }

    .carousel-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
{% endblock %}
