{% extends 'base.html' %}
<style>
    .card-img-top {
        width: 50%;
        height: auto;
    }
</style>

{% block title %}
<title>
    CoPo | CostumerPower
</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in object_list %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <a href="{% url 'product-detail' product.pk %}">
                    <img src="{{ product.img_url }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text text-body-secondary" dir="rtl">
                         <br>
                         💵 <strong>מחיר: {{product.discount_price }}</strong>
                         <br>
                         🚚 <strong>כולל משלוח עד הבית!!!</strong>
                         <br>
                         <br>
                         📅 קבוצת הרכישה תסגר בתאריך: <strong>{{ product.due_date }}</strong>
                    </p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">לקבוצת רכישה  <i class="fa fa-telegram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}