<!-- product_detail.html -->

<!-- {% extends 'base.html' %} -->
{% block content %}
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <p>Original Price: ${{ product.original_price }}</p>
    <p>Discounted Price: ${{ product.discount_price }}</p>
    <!-- Display comments -->
    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.comment }}</li>
            <li>{{ comment.date }}</li>
        {% endfor %}
    </ul>
{% endblock %}
