{% extends 'base.html' %}
{% block title %}
<title>
    CoPo | {{ product.title }}
</title>
{% endblock %}
{% block content %}
    <h1>{{ product.title }}</h1>
    <img src="{{ product.img_url }}" alt="{{ product.img_url }}"> <br>
    <p>{{ product.description }}</p>
    <p>Original Price: ${{ product.original_price }}</p>
    <p>Discounted Price: ${{ product.discount_price }}</p>
    <!-- Display comments -->
    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.comment }}</li>
            <li>{{ comment.date }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">חזור </a>
    
{% endblock %}
